body{
      width: 900px;
      
}
p.red-color {
      color: red
}
p{
      font-weight: bold;
      font-size: 40px;
      width: 500px;
      padding: 10px;
      border: solid 1px black;
      border-radius: 5px;
}
button{
      margin: 10px;
}